# Virtual environment
venv/

# Ignore cache files
.cache/

# Ignore generated image, sound, and video files
images/
sounds/
videos/

# Ignore uploaded files
uploads/

# Ignore data files
data/

# Ignore Python bytecode
__pycache__/

# Ignore environment variables file
.env

# OS-specific files
.DS_Store
Thumbs.db

# Flask specific
instance/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
